[build]
  command = "hugo --minify"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.152.2"
  HUGO_EXTENDED = "true"
  HUGO_ENV = "production"

[context.production]
  branch = "main"

[[redirects]]
  from = "/post/*"
  to = "/posts/:splat"
  status = 301

[[redirects]]
  from = "https://jlian.co/*"
  to = "https://johnlian.net/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.jlian.co/*"
  to = "https://johnlian.net/:splat"
  status = 301
  force = true
