{{ define "main" }}
  <article class="site-width pa3 nested-copy-line-height nested-img">
    {{ $section := .Paginate (where .Data.Pages "Section" .Section) }}
    <section class="flex-ns flex-wrap justify-center mt4">
      {{ range $i, $p := $section.Pages }}
        {{ if eq $i 0 }}{{ $p.Scratch.Set "lcp_image" true }}{{ end }}
        <div class="relative w-100 w-33-l mb5 mb0-m pa3-l">
          {{ $p.Render "summary-with-image" }}
        </div>
      {{ end }}
    </section>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
