{{ $paramDefault := .Site.Params.default_featured_image | default "images/default-featured.jpg" }}
{{ $rawImagePath := .Params.featured_image | default $paramDefault }}
{{ $scratch := newScratch }}
{{ partial "helpers/resource-image.html" (dict "path" $rawImagePath "page" . "size" "2500x q75" "scratch" $scratch) }}
{{ $imgUrl := $scratch.Get "img" }}
{{ $webpUrl := $scratch.Get "webp" }}
{{ $bgSource := cond (ne ($webpUrl | default "") "") $webpUrl $imgUrl }}
<div class="mid-gray overflow-hidden pv3">
  <div class="flex flex-column">
    <div class="mb3 w-100">
      <a href="{{ .RelPermalink }}" class="db dim aspect-ratio aspect-ratio--16x9">
        <div style="background: url('{{ $bgSource }}') center;" class="img aspect-ratio--object cover" alt="image from {{ .Title }}"></div>
      </a>
    </div>
    <div class="w-100">
      {{ if .Date }}
        <div class="f7 dib ttu tracked">
          {{ .Date.Format "January 2, 2006" }}
        </div>
      {{ end }}
      <h1 class="f3 near-black">
        <a href="{{ .RelPermalink }}" class="link black dim">
          {{ .Title }}
        </a>
      </h1>
      <div class="nested-links f6 lh-copy nested-copy-line-height o-80">
        {{ if .Description }}
          {{ .Description | markdownify }}
        {{ else }}
          {{ .Summary }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
