{{ $featured_image := .Params.featured_image }}
{{ $.Scratch.Add "transparency" "bg-black-90" }}
{{ $.Scratch.Add "text_color" "" }}

{{ if $featured_image }}
  {{ $featuredUrl := partial "helpers/image-url.html" (dict "path" $featured_image "page" .) }}
  {{ $bgStyle := printf "background-position:center; background-repeat:no-repeat; background-size:cover; background-image:url('%s');" $featuredUrl }}
  {{ $.Scratch.Set "transparency" "bg-black-50" }}
  {{ $.Scratch.Set "text_color" "white-80" }}
  <header class="cover bg-top" style="{{ $bgStyle | safeCSS }}">
    <div class="bg-black-20">
      <div>
        {{ partial "site-navigation.html" .}}
      </div>
{{ else }}
  <header>
    <div class="bg-gold">
      <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
        {{ partial "site-navigation.html" . }}
      </div>
{{ end }}
      <div class="site-width pv3 pv4-ns">
        <time class="f6 mb2 dib ttu tracked {{ $.Scratch.Get "text_color" }}" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "January 2, 2006" }}
        </time>
        <h1 class="f2 f1-m f-subheadline-l lh-title mv0">
          <span class="{{ $.Scratch.Get "transparency" }} box-decoration-clone lh-copy white pa1 tracked-tight sans-serif">
            {{ .Title | default .Site.Title }}
          </span>
        </h1>
        {{ with .Params.description  }}
          <h2 class="f5 f4-m f3-l fw4 i {{ $.Scratch.Get "text_color" }}">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
