{{ $icon_size := "28px" }}
<nav class="pv3" role="navigation">
  <div class="flex justify-between items-center site-width">
    <a href="/" class="ink-transition personal link dib z-999 mr2" aria-label="{{ .Site.Title }} home" title="{{ .Site.Title }} home">
        {{ partial "svg/logo.svg" (dict "size" $icon_size) }}
    </a>
    <div class="flex items-center">
      {{ if .Site.Menus.main }}
        <ul class="pl0 mv3">
          {{ range .Site.Menus.main }}
          <li class="list f4 f3-ns fw4 dib pl2 pl3-ns tracked-tight">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</nav>
