<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ $icon_size := "24px" }}
{{ with .Site.Params.wikipedia }}
<a href="{{ . }}" class="link-transition wikipedia link social-link dib z-999 ma1" title="Wikipedia link" aria-label="Wikipedia profile">
  {{ partial "svg/wikipedia.svg" (dict "size" $icon_size) }}
</a>
{{ end }}
{{ with .Site.Params.github }}
<a href="{{ . }}" class="link-transition github link social-link dib z-999 ma1" title="Github link" aria-label="GitHub profile">
  {{ partial "svg/github.svg" (dict "size" $icon_size) }}
</a>
{{ end }}
{{ with .Site.Params.linkedin }}
<a href="{{ . }}" class="link-transition linkedin link social-link dib z-999 ma1" title="LinkedIn link" aria-label="LinkedIn profile">
  {{ partial "svg/linkedin.svg" (dict "size" $icon_size) }}
</a>
{{ end }}
{{ with .Site.Params.instagram }}
<a href="{{ . }}" class="link-transition instagram link social-link dib z-999 ma1" title="Instagram link" aria-label="Instagram profile">
  {{ partial "svg/instagram.svg" (dict "size" $icon_size) }}
</a>
{{ end }}
{{ with .Site.Params.youtube }}
<a href="{{ . }}" class="link-transition youtube link social-link dib z-999 ma1" title="YouTube link" aria-label="YouTube channel">
  {{ partial "svg/youtube.svg" (dict "size" $icon_size) }}
</a>
{{ end }}
{{ with .Site.Params.twitter }}
<a href="{{ . }}" class="link-transition twitter link social-link dib z-999 ma1" title="Twitter link" aria-label="Twitter profile">
  {{ partial "svg/twitter.svg" (dict "size" $icon_size) }}
</a>
{{ end }}
{{ with .Site.Params.facebook }}
  <a href="{{ . }}" class="link-transition facebook link social-link dib z-999 ma1" title="Facebook link" aria-label="Facebook profile">
    {{ partial "svg/facebook.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
