{{ $paramDefault := .Site.Params.default_featured_image | default "images/default-featured.jpg" }}
{{ $rawImagePath := .Params.featured_image | default $paramDefault }}
{{ $scratch := newScratch }}
{{ partial "helpers/resource-image.html" (dict "path" $rawImagePath "page" . "size" "2500x" "scratch" $scratch) }}
{{ $imgUrl := $scratch.Get "img" }}
{{ $webpUrl := $scratch.Get "webp" }}
{{ $bgSource := cond (ne ($webpUrl | default "") "") $webpUrl $imgUrl }}
{{ $bgStyle := printf "background-position:center; background-repeat:no-repeat; background-size:cover; background-image:url('%s');" $bgSource }}
<div class="mid-gray overflow-hidden bb-ns pv3 b--black-10">
  <div class="flex flex-column flex-row-ns">
    <div class="mb3 pr3-ns mb0-ns w-100 w-40-ns">
      <a href="{{ .RelPermalink }}" class="db dim aspect-ratio aspect-ratio--16x9">
        <div style="{{ $bgStyle | safeCSS }}" class="img aspect-ratio--object cover overflow-hidden flex" role="presentation" aria-hidden="true">
            <div class="bg-black-20 cover w-100 dn-ns">
                <div class="pa3">
                    <time class="f6 mb2 dib ttu tracked white-80">
                      {{ .Date.Format "January 2, 2006" }}
                    </time>
                    <h1 class="f3 measure-narrow lh-title mv0">
                      <span class="bg-black-50 lh-copy white pa1 tracked-tight sans-serif">
                        {{ .Title | default .Site.Title }}
                      </span>
                    </h1>
                  </div>
            </div>
        </div>
      </a>
    </div>
    <div class="w-100 w-60-ns pl3-ns dn dib-ns">
      {{ if .Date }}
        <div class="f7 dib ttu tracked">
          {{ .Date.Format "January 2, 2006" }}
        </div>
      {{ end }}
      <h1 class="f3 near-black">
        <a href="{{ .RelPermalink }}" class="link black dim">
          {{ .Title }}
        </a>
      </h1>
    </div>
  </div>
</div>
