{{ define "main" }}
  <article class="site-width pv3 nested-copy-line-height nested-img">
    {{ $section := .Paginate (where .Data.Pages "Section" .Section) }}
    <section class="posts-grid mt4">
      {{ range $i, $p := $section.Pages }}
        {{ if eq $i 0 }}{{ $p.Scratch.Set "lcp_image" true }}{{ end }}
        <div class="post-card">
          {{ $p.Render "summary-with-image" }}
        </div>
      {{ end }}
    </section>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
